@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body { 
  margin: 0; 
  height: 100%;
  box-sizing: border-box;
}

.main { 
  width: 100dvw;
  height: 100vh;
  background-color: #F2EAE2;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.card {
  display: flex;
  max-height: 456px;
}

.card img { 
  max-width: 19rem;
}

.card-infos { 
  max-width: 19rem;
  padding: 2rem; 
  background-color: white;
}

.texts-container { 
   max-width: 15rem;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.text-title-perfum-small {
    font-family: "Montserrat", sans-serif;
    letter-spacing: .3125rem;
    line-height: 120%;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #6C7289; 
}

.large-text-title { 
   font-family: "Fraunces", serif;
   font-weight: bold;
   line-height: 100%;
   font-size: 2rem; 
}

.text-paragraph { 
  font-family: "Montserrat", sans-serif;
  font-size: .875rem;
  color: #6C7289; 
  line-height: 160%;
}

.buy-section {
  display: flex;
  gap: 8px; 
  align-items: center;
}

.price-discount {
  font-family: "Fraunces", serif;
   font-weight: bold;
   line-height: 100%;
   font-size: 2rem; 
   color: #3D8168;
}


.price-full {
  font-family: "Montserrat", sans-serif;
  font-size: 13px; 
  color: #6C7289;
  text-decoration: line-through;
}

.btn-buy { 
  background-color: #3D8168;
  height: 3.125rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-buy img {
  max-width: 15px;
}

.btn-buy a { 
  text-decoration: none;
  color: white; 
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 110%;
  font-weight: bold;
  
}